.list-image {
    list-style: none;
    padding-left: 0;
}
    
.list-image li {
    position: relative;
    padding-left: 30px;
    line-height: 170%;
    color: aqua;
}

.list-image li:before {
    content: '';
    width: 20px;    
    height: 20px;    
    position: absolute;    
    background-image: url('diet.png');    
    background-size: cover;    
    background-position: center;    
    left: 0;    
    top: 50%;    
    transform: translateY(-50%);
}

.popular-sites {
    list-style: none;
    padding-left: 0;
}
    
.popular-sites li {
    position: relative;
    padding-left: 30px;
    line-height: 170%;
    color: black;
}

.popular-sites li:before {
    content: '';
    width: 20px;    
    height: 20px;    
    position: absolute;    
    background-image: url('fast-food.png');    
    background-size: cover;    
    background-position: center;    
    left: 0;    
    top: 50%;    
    transform: translateY(-50%);
}
