table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: center;
}

.head-body-foot thead {
    color: purple;
    background-color: rgb(243, 136, 13);
}
    
.head-body-foot tbody {
    color: rgb(182, 212, 182);
    font-weight: bold;
    background-color: rgb(68, 39, 177);
}
    
.head-body-foot tfoot {
    color: rgb(5, 4, 0);
    background-color: rgb(227, 231, 233);
    font-weight: bold;
}

.head-body-foot thead:hover {
    background-color: #acffe3;
}

.head-body-foot tbody:hover {
    background-color: rgb(103, 164, 243);
    color: white;
    font-style: italic;
}

.head-body-foot tfoot:hover {
    background-color: #acffe3;
    color: white;
    font-variant: small-caps;
}

.scroll-bar {
    overflow-x: auto;
    height: 200px; /* A vertical scrollbar appears to give place for the rest of the table-input */
}

th {
    vertical-align: bottom;
}

.table-image {
    margin: 0 auto;
}

.GeneratedTable {
    width: 700px;
}